<h2>Festmények</h2>
<button class="btn btn-primary" (click)="createClick()" >Új festmény felvitele az adatbázisba</button>
<ngx-data-table *ngIf="list$ |async as list" [list]="list" [columns]="[
    {
      title: 'Művész',
      key: 'artist',
      interpreter: artistInterpreterMode
    },
    {
      title: 'Cím',
      key: 'title'
    },
    {
      title: 'Típus',
      key: 'type'
    },
    {
      title: 'Egyéb',
      key: 'otherInfo'
    },
    {
      title: 'fotók',
      key: 'photos',
      interpreter: photoInterpreterMode
    },
    {
      title: 'Készült (db)',
      key: 'count'
    },
    {
      title: 'Raktáron (db)',
      key: 'count'
    },
    {
      title: 'Ár',
      key: 'price'
    },
    {
      title: 'Műveletek',
      key: '',
      divButton: [
      {
        id: 'edit',
        class: 'btn btn-primary',
        text: 'Szerkesztés'
      },
      {
        id: 'delete',
        class: 'btn btn-danger',
        text: 'Törlés'
      }
      ]
    }
  ]"
  [interpreter]="interpreterBound"
  (onButtonClick)="tableButtonClick($event)"
></ngx-data-table>

<app-modal
  *ngIf="editObj  as painting"
  [(visible)]="editVisible"
  (onOkButtonClick)="editOkButton(painting)"
  [zIndex] = "10000"
>
  <form>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label>Művész</label>
      </div>
      <div class="d-flex justify-content-start">
        <input disabled type="text" [value]="getArtistName(painting)" name="artist" id="artist" class="form-control">
        <button class="btn btn-primary" (click)="changeArtist(painting)">Kiválasztás</button>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="title">Cím</label>
      </div>
      <input type="text" [(ngModel)]="painting.title" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="type">típus</label>
      </div>
      <input type="text" [(ngModel)]="painting.type" name="type" id="type" class="form-control">
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="otherInfo">Egyéb információk</label>
      </div>
      <input type="text" [(ngModel)]="painting.otherInfo" name="otherInfo" id="otherInfo" class="form-control">
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label>Fotók</label>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Fájlnév</th>
              <th>Megjelenített szöveg (alt)</th>
              <th>Méret</th>
              <th>
                <button class="btn btn-primary w-80" (click)="selectPhoto(painting)">Új fotó</button>
              </th>
            </tr>
          </thead>
          <tr *ngFor="let item of painting.photos">
            <td>{{$any(item)?.storedFilename}}</td>
            <td>{{$any(item)?.alt}}</td>
            <td>{{$any(item)?.fileSize}}</td>
            <td>
              <div>
                <button class="btn btn-danger w-80" (click)="deletePhoto(painting, item)">Törlés</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="count">Készült db</label>
      </div>
      <input type="number" [(ngModel)]="painting.count" name="count" id="count" class="form-control">
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="stock">Raktáron db</label>
      </div>
      <input type="number" [(ngModel)]="painting.stock" name="stock" id="stock" class="form-control">
    </div>
    <div class="form-group">
      <div class="d-flex justify-content-start mt-2">
        <label for="price">Ár</label>
      </div>
      <input type="number" step="1000" [(ngModel)]="painting.price" name="price" id="price" class="form-control">
    </div>

    <app-modal
      [(visible)]="artistSelectVisible"
      okButtonClass="hidden"
      [zIndex] = "11000"
    >
      <ngx-data-table
        *ngIf="artistList$ | async as list"
        [list]="list"
        [columns]="[
          {
            title: 'Név',
            key: 'fullName'
          },
          {
            title: 'Művésznév',
            key: 'artistName'
          },
          {
            title: 'Egyéb információk',
            key: 'otherInfo'
          },
        ]"
        (onRowClick)="artistSelect($event)"
      ></ngx-data-table>
    </app-modal>

    <app-modal
      [(visible)]="photoSelectVisible"
      okButtonClass="hidden"
      innerWidth="75%"
      [zIndex] = "11000"
    >
    <ngx-data-table
    *ngIf="photoList$ |async as list"
    [list]="list"
    [columns]="[
      {
        title: 'Tárolt fájlnév',
        key: 'storedFileName'
      },
      {
        title: 'Megjelenített szöveg (alt)',
        key: 'alt'
      },
      {
        title: 'Fájl méret',
        key: 'fileSize'
      }
    ]"
    (onRowClick)="photoSelect($event)"
  ></ngx-data-table>
    </app-modal>

  </form>
</app-modal>



<app-modal
  [(visible)]="deleteConfirmVisible"
  okButtonClass="btn btn-danger"
  (onOkButtonClick)="deleteConfirmed(deleteObj)"
  okButtonText="Törlés!"
  [zIndex] = "12000"
  innerWidth="50%"
>
<h2>Törlés megerősítése</h2>
<hr>
<h3>
  Valóban törölni kívánja ezt a festményt?
</h3>
<small>(Művész: {{$any(deleteObj.artist).fullName}}, Cím: {{deleteObj.title}} )</small>
</app-modal>
